<h1>Welcome,  {{currentUser.username}}</h1>
<p>This is your profile page my friend!</p>
<a href="/auth/main">Main page</a></br>
<a href="/auth/private">Private page</a></br>

<a href="/">Home</a></br>

<a href='/logout'>Logout</a>
{{!-- //LOGOUT\\ // le button logout ne marche pas .... --}}